@import url('https://fonts.google.com/specimen/Bangers?preview.size');

body {
	background-color: brown;
}



.tittle1 {
	font-size: 30px;
	color: yellow;
}

.tittle2 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 50px;
	color: blueviolet;
}
