@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');


body {
	background-color: brown;
}
.tittle1 {
	font-family: 'Tapestry', cursive;
	font-size: 35px;
	color: yellow;
}
.tittle2 {
	font-family: 'Bangers', cursive;
	color: black;
	font-size: 70px;
}
.bt1 {
	font-family: 'Patua One', cursive;
	background-color: #4CAF50;
	border: 2px solid #000000;
	padding: 5px 20px;
	font-size: 15px;
	border-radius: 5px;
}

#column1 {
	width: 690px;
	float: left;
	min-height: 580px;
	background-color: #c27575;
}

#sidebar {
	min-height: 580px;
	margin-left: 690px;
	background-color: #c27580;
}

#form {
	background-color: yellow;
	min-height: 75px;
}

#logado {
	background-color: yellow;	
}